@use 'sass:string';
@use "sass:color";
@import "themes/astel";

@function gtkalpha($c, $a) {
  @return string.unquote('alpha(#{$c},#{$a})');
}

window.launcher {
  all: unset;

  .mainbox {
    background-color: $bg;
    border: 1px solid $bg-urg;
    border-radius: 20px;
    padding: 10px;
    margin: 0 0 7px 7px;

    scrollable > viewport {
      all: unset;
    }

    .shortcuts-sidebar {
      background-color: $bg-alt;
      border-radius: 10px;
      padding: 5px;

      button {
        color: $fg;
        background-color: transparent;
        transition: 200ms;

        &:hover {
          color: $bg;
          background-color: $ac;
        }
      }

      separator {
        margin: 5px;
      }
    }

    entry {
      color: $fg;
      background-color: $bg;
      border: none;
      box-shadow: none;
      margin-top: 5px;
    }

    .app-button {
      all: unset;
      color: $fg;
      min-width: 0;
      min-height: 0;
      padding: 10px;
      border-radius: 10px;
      transition: 200ms;

      label.name {
        font-size: 13pt;
        font-weight: bold;
      }

      &:focus {
        color: $bg;
        background-color: $ac;
      }

      &:hover {
        color: $fg;
        background-color: $bg-urg;
      }
    }

    box.not-found {
      label {
        color: color.adjust($fg, $alpha: -0.5);
        font-size: 17pt;
      }
    }
  }
}
