@use "sass:string";
@import "themes/astel";

window.powermenu {

  * {
    font-size: 32pt;
  }

  .mainbox {
    background-color: $bg;
    border: 1px solid $bg-urg;
    border-radius: 25px;
    padding: 10px;

    button {
      min-width: 110px;
      min-height: 110px;
      border-radius: 15px;
      color: $fg;
      background-color: $bg;
      box-shadow: none;

      &:focus {
        color: $bg;
        background-color: $ac;
      }

      &:hover {
        color: $fg;
        background-color: $bg-urg;
      }
    }
  }
}
