$ac-red: #F9AEAE;
$ac-green: #B3F9B3;
$ac-yellow: #F9F7B1;
$ac-blue: #A8C7FA;
$ac-magenta: #DFB6F9;
$ac-cyan: #B6F4F9;
$ac-orange: #F9C9B1;
$bg: #121212;
$bg-alt: #212121;
$bg-urg: #414141;
$fg-alt: #767676;
$fg: #E6E6E6;
$ac: $ac-blue;
