.bar-window {
  .date-time-box {
    color: $fg;
    background-color: $bg-alt;
    border-radius: 10px;
    padding: 0 10px;
    margin: 5px 5px 5px 0;

    separator {
      all: unset;
      background-color: $bg-urg;
      min-width: 1px;
      margin: 8px;
    }
  }
}
