.bar-window {
  .kb-layout-button {
    all: unset;
    transition: 200ms;
    margin: 5px 3px 5px 0;
    border-radius: 10px;
    color: $fg;
    background-color: $bg-alt;
    padding: 0 10px;

    &:hover {
      background-color: $bg-urg;
    }
  }
}
