.bar-window {
  .tasks-box {
    margin: 5px 3px;

    .task-button {
      all: unset;
      transition: 200ms;
      margin-left: 3px;
      border-radius: 10px;
      padding: 0 10px;
      color: $fg;
      background-color: $bg-alt;

      &:first-child {
        margin-left: 0
      }

      &:hover {
        background-color: $bg-urg;
      }

      &.focused {
        border-bottom: 2px solid $ac;
      }
    }
  }
}
