.bar-window {
  .workspaces-box {
    margin: 5px 0 5px 5px;
    padding: 4px;
    border-radius: 10px;
    background-color: $bg-alt;

    .workspace-button {
      all: unset;
      transition: 200ms;
      margin-left: 2px;
      padding: 0 10px;
      border-radius: 6px;
      color: $fg;
      background-color: transparent;

      &:first-child {
        margin-left: 0
      }

      &:hover {
        background-color: $bg-urg;
      }

      &.focused {
        color: $bg;
        background-color: $ac;
      }
    }
  }
}
